header{
    background: #303f9f;
    color: white;
    font-size: 18px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 3px rgba(0,0,0,.39);
}
header> nav{
    display: flex;
   
}
